/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define BASE 0
#define LOWER 1
#define RAISE 2
#define ADJUST 3

/ {
    // Activate ADJUST layer by pressing raise and lower

    conditional_layers {
        compatible = "zmk,conditional-layers";

        adjust_layer {
            if-layers = <2 2>;
            then-layer = <3>;
        };
    };

    combos {
        compatible = "zmk,combos";

        esc_combo {
            bindings = <&kp ESC>;
            key-positions = <1 0>;
        };

        enter_combo {
            bindings = <&kp ENTER>;
            key-positions = <34 35>;
        };

        win_screenshot {
            bindings = <&kp LG(LS(S))>;
            key-positions = <26 27 28 25>;
        };

        mac_screenshot {
            bindings = <&kp LG(LS(NUMBER_4))>;
            key-positions = <31 32 33 34>;
        };

        bksp_combo {
            bindings = <&kp BACKSPACE>;
            key-positions = <10 11>;
        };

        exit_game {
            bindings = <&to 0>;
            key-positions = <54 28>;
        };
    };

    macros {
        fat_arrow: fat_arrow {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp EQUAL &kp GT>;
            label = "FAT_ARROW";
        };

        small_arrow: small_arrow {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp MINUS &kp GT>;
            label = "SMALL_ARROW";
        };
    };

    behaviors {
        mt_balance: mt_balance {
            compatible = "zmk,behavior-hold-tap";
            label = "balanced flavor mod tap";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
        };

        mt_tap: mt_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "tap preferred flavor mod tap";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            display-name = "base";

            // ------------------------------------------------------------------------------------------------------------
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |       |
            // |  ESC  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   | BKSPC |
            // |  TAB  |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |  MUTE  |  |       |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //               | GUI | ALT  | CTRL | LOWER|  ENTER |  | SPACE | RAISE| CTRL  | ALT   | GUI  |

            bindings = <
&kp GRAVE       &kp N1  &kp N2  &kp N3  &kp N4  &kp N5                                                                    &kp N6           &kp N7        &kp N8     &kp N9   &kp N0         &none
&kp TAB         &kp Q   &kp W   &kp E   &kp R   &kp T                                                                     &kp Y            &kp U         &kp I      &kp O    &kp SEMICOLON  &kp MINUS
&kp LEFT_SHIFT  &kp A   &kp S   &kp D   &kp F   &kp G                                                                     &kp H            &kp J         &kp K      &kp L    &kp P          &kp SQT
&kp LCTRL       &kp Z   &kp X   &kp C   &kp V   &kp B                     &kp C_MUTE              &none                   &kp N            &kp M         &kp COMMA  &kp DOT  &kp FSLH       &kp BACKSLASH
                        &to 1   &none   &mo 3   &mt_balance LSHIFT SPACE  &mt_balance LCMD ESC    &mt_balance LALT ENTER  &lt 2 BACKSPACE  &kp LEFT_GUI  &none      &none
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
            label = "base";
        };

        game {
            label = "game";
            display-name = "game";
            bindings = <
&kp GRAVE       &kp N1  &kp N2  &kp N3  &kp N4        &kp N5                                                     &kp N6           &kp N7        &kp N8     &kp N9   &kp N0    &none
&kp TAB         &kp Q   &kp W   &kp E   &kp R         &kp T                                                      &kp Y            &kp U         &kp I      &kp O    &kp P     &kp MINUS
&kp LEFT_SHIFT  &kp A   &kp S   &kp D   &kp F         &kp G                                                      &kp H            &kp J         &kp K      &kp L    &kp SEMI  &kp SQT
&kp LCTRL       &kp Z   &kp X   &kp C   &kp V         &kp B      &kp C_MUTE              &none                   &kp N            &kp M         &kp COMMA  &kp DOT  &kp FSLH  &kp BACKSLASH
                        &to 0   &mo 3   &kp LEFT_ALT  &kp SPACE  &mt_balance LCMD ESC    &mt_balance LALT ENTER  &lt 2 BACKSPACE  &kp LEFT_GUI  &none      &none
            >;

            sensor-bindings =
                <&inc_dec_kp C_VOL_UP C_VOL_DN>,
                <&inc_dec_kp PG_UP PG_DN>;
        };

        lower {
            bindings = <
&kp TILDE  &kp EXCL     &kp AT        &kp POUND     &kp DOLLAR     &kp PERCENT                    &kp CARET  &kp AMPERSAND         &kp ASTERISK           &trans            &trans             &trans
&trans     &kp PAGE_UP  &kp LC(LEFT)  &kp UP_ARROW  &kp LC(RIGHT)  &kp HOME                       &kp PLUS   &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &trans            &kp COLON          &kp UNDER
&trans     &kp PG_DN    &kp LEFT      &kp DOWN      &kp RIGHT      &kp END                        &kp EQUAL  &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp DOUBLE_QUOTES
&trans     &trans       &trans        &trans        &trans         &trans       &trans    &trans  &trans     &trans                &kp LT                 &kp GT            &trans             &trans
                        &trans        &trans        &trans         &trans       &trans    &trans  &trans     &trans                &trans                 &trans
            >;

            label = "lower";
        };

        raise {
            bindings = <
&trans  &kp F1  &kp F2  &kp F3      &kp F4            &kp F5                        &kp F6      &kp F7  &kp F8  &kp F9  &kp F10  &kp F11
&trans  &trans  &trans  &trans      &trans            &trans                        &trans      &trans  &trans  &trans  &trans   &kp F12
&trans  &trans  &trans  &trans      &trans            &trans                        &trans      &trans  &trans  &trans  &trans   &trans
&trans  &trans  &trans  &kp C_PREV  &kp C_PLAY_PAUSE  &kp C_NEXT  &trans    &trans  &trans      &trans  &trans  &trans  &trans   &trans
                &trans  &trans      &trans            &trans      &trans    &trans  &kp DELETE  &trans  &trans  &trans
            >;

            label = "raise";
        };
    };
};
